/* 
    Created on : 9 oct. 2020, 18:06:15
    Author     : Angel
*/

h1 {
    background: #2c3e50;
    color: #fff;
    text-align: center;	
    margin: 5px;
    padding: 15px;
    font-family: "Britannic";    
}

h2, h4 {
    text-align: center;
    font-family: "Britannic";    
}

div {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul li {
    /*text-align: center;*/
    font-family: "Verdana";
    font-size: 0.75em; 
}

form {    
    border:3px solid #ccc;
    width: 400px;    
    padding:15px 5px;
    box-sizing: border-box;
    font-family: "Verdana";
    font-size: 0.9em;    
}

label {    
    display: flex;
    min-width: 30%;
/*    justify-content: flex-start;
    text-align: right;*/
}

input {
    display: flex;
    /*justify-content: flex-end;*/
    min-width: 60%;
    font-family: "Verdana";    
    padding: 10px;
}

textarea {
    display: flex;    
    min-width: 60%;
    font-family: "Verdana";
    font-size: 0.9em; 
    padding: 10px;
    resize: none;
}

section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}

article {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 65%;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
